<template>
    <div class="containder bg-white max-w mx-auto my-4 rounded overflow-hidden shadow-lg">
            
        <div class="flex justify-between font-bold text-xl mb-2">
            <slot name="header"></slot>
        </div>

        <div class="flex text-black text-base">
            <slot name="content"></slot>
        </div>

        <div class="flex justify-between font-semibold text-sm text-grey-darker py-2 my-2 border-t border-solid border-grey">
            <slot name="footer"></slot>
        </div>

    </div>
</template>

<script>
export default {
    
}
</script>

<style scoped>

</style>
