<template>
    <div class="container mx-auto px-4 py-4">
        <nav class="flex">
                <ul class="items-center list-reset flex flex-row-reversed">
                    <li class="px-4"><router-link to="/">Home</router-link></li>
                    <li class="px-4"><router-link to="/about">About</router-link></li>
                    <li class="px-4"><router-link to="/gallery">Gallery</router-link></li>
                </ul>

        </nav>
        <router-view class="container mx-auto px-4 py-4"></router-view>
    </div>
</template>

<script>
    export default{

    }
</script>

<style scoped>

</style>
