<template>
    <app-card>
        <template slot="header">
            <div class="bg-orange py-8 px-2 text-center w-full text-white font-semibold rounded">
                <h2 class="border-b-1 border-white border-solid pb-4">Welcome to Orbit</h2>
                <p>Simplifying commercial motor insurance sales</p>
            </div>
        </template>
        <template slot="content">
            <div class="text-center w-full py-4">
                <h3>Who are we?</h3>
                <p>Orbit are an insurance intermediary that specialise in the commercial motor insurance sector</p>
            </div>            
        </template>
        <template slot="footer">
            <div class="text-center w-full">
                <p class="text-lg">Still Unsure?</p>
                <p>Contact our marketing team to find out why we are right for you</p>
                <button>Contact Us</button>
            </div>
        </template>
    </app-card>
</template>

<script>
import AppCard from './../AppCard';

export default {
    components:{
        AppCard
    }
}
</script>

<style scoped>

</style>
